@charset "UTF-8";
/*Feuille de style Scss - Les films de plein air*/
/*Typographie*/
@font-face {
  font-family: 'alatsiregular';
  src: url("../fonts/alatsi/alatsi-regular-webfont.eot");
  src: url("../fonts/alatsi/alatsi-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alatsi/alatsi-regular-webfont.woff2") format("woff2"), url("../fonts/alatsi/alatsi-regular-webfont.woff") format("woff"), url("../fonts/alatsi/alatsi-regular-webfont.ttf") format("truetype"), url("../fonts/alatsi/alatsi-regular-webfont.svg#alatsiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*Variables*/
/*Style général*/
.col-md-12 {
  padding-right: 0px;
  padding-left: 0px; }

em, strong {
  font-style: normal; }

h1 {
  font-family: "alatsiregular";
  font-size: 1.7em;
  color: #0B0A0A; }

h2 {
  font-family: "alatsiregular";
  font-size: 1.5em; }

h3 {
  font-family: "alatsiregular";
  font-size: 1.3em; }

p {
  font-family: "open_sansregular";
  font-size: 1em;
  color: #0B0A0A; }

a {
  color: #BF2F26;
  padding: 2%;
  font-family: "alatsiregular"; }
  a:hover {
    background: #0B0A0A;
    color: #fff000;
    text-decoration: none; }

button {
  color: #BF2F26;
  padding: 10px;
  font-family: "alatsiregular";
  border: 1px solid #BF2F26; }
  button:hover {
    background: #0B0A0A;
    color: #fff000;
    text-decoration: none;
    border: 1px solid #0B0A0A; }

.h1-rouge-vertical {
  width: 10px;
  height: 50px;
  background: #BF2F26; }

.h1-rouge-horizontal h1 {
  color: #0B0A0A;
  font-size: 2em;
  padding-left: 20px; }
.h1-rouge-horizontal .h1-rouge-h {
  position: relative;
  width: 100px;
  height: 10px;
  background: #BF2F26;
  left: -10px; }

.h2_rouge_horizontal h2 {
  color: #0B0A0A;
  padding-left: 30px;
  font-size: 1.5em; }
.h2_rouge_horizontal .h2_rouge_h {
  position: relative;
  width: 100px;
  height: 10px;
  background: #BF2F26;
  left: 0px; }

/*Style Header*/
header .container-fluid .entete {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0B0A0A; }
  header .container-fluid .entete .content_logo #logo {
    width: 900px; }
  header .container-fluid .entete .content_search_icones .content_search {
    margin-top: 40px; }
    header .container-fluid .entete .content_search_icones .content_search .search .input-group .input-group-append {
      border-left: 1px solid #0B0A0A; }
      header .container-fluid .entete .content_search_icones .content_search .search .input-group .input-group-append .btn {
        background: #fff000; }
        header .container-fluid .entete .content_search_icones .content_search .search .input-group .input-group-append .btn img {
          margin: auto; }
    header .container-fluid .entete .content_search_icones .content_search .search .icones_sociaux {
      margin-top: 12px;
      text-align: right; }
      header .container-fluid .entete .content_search_icones .content_search .search .icones_sociaux img {
        padding: 0 10px 0 10px; }
header .container-fluid .content_menu {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0B0A0A;
  border-top: 1px solid #F1EEEB;
  border-bottom: 1px solid #F1EEEB; }
  header .container-fluid .content_menu .menu #menu_principal .nav .nav-item {
    padding-left: 20px;
    padding-right: 20px; }
    header .container-fluid .content_menu .menu #menu_principal .nav .nav-item a:hover {
      border: 0;
      color: #F1EEEB; }
    header .container-fluid .content_menu .menu #menu_principal .nav .nav-item .nav-link {
      font-family: "alatsiregular"; }
  header .container-fluid .content_menu .menu #menu_principal .nav-pills .nav-link.active {
    background-color: #BF2F26;
    color: #F1EEEB; }
  header .container-fluid .content_menu .menu #menu_principal .nav-pills .nav-link {
    color: #BF2F26; }

@media screen and (max-width: 1200px) {
  .icones_sociaux {
    display: none; }

  .content_search {
    margin-top: 10px !important; } }
@media screen and (min-width: 992px) {
  .content_logo_smart {
    display: none; } }
/*Style header smartphone et tablette*/
@media screen and (max-width: 992px) {
  .content_logo {
    display: none; }

  .nav {
    display: block; }
    .nav .nav-item {
      padding-left: 0 !important; } }
/*PAGE D'ACCUEIL*/
/*Section Masterhead*/
#masterhead {
  width: 100%;
  position: relative; }

#mh_carousel {
  width: auto; }
  #mh_carousel .carousel-inner {
    overflow: visible; }
    #mh_carousel .carousel-inner .carousel-item img {
      width: 100%; }
    @media screen and (min-width: 1200px) {
      #mh_carousel .carousel-inner .carousel-item .carousel-caption {
        color: black;
        width: 100%;
        height: 100%; }
        #mh_carousel .carousel-inner .carousel-item .carousel-caption .card {
          padding: 3%;
          width: 40%;
          height: 80%;
          background: #F1EEEB;
          margin-top: 6%;
          margin-left: 70%;
          text-align: center; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body h2 {
            color: #BF2F26; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-film {
            display: flex;
            margin-left: 30px; }
            #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-film p {
              margin-right: 30px; } }
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      #mh_carousel .carousel-inner .carousel-item .carousel-caption {
        color: black;
        width: 100%;
        height: 100%; }
        #mh_carousel .carousel-inner .carousel-item .carousel-caption .card {
          padding: 2%;
          width: 40%;
          height: 80%;
          background: #F1EEEB;
          margin-top: 6%;
          margin-left: 60%;
          text-align: center; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body h1 {
            font-size: 1.2em; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body h2 {
            color: #BF2F26;
            font-size: 1em; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body h3 {
            font-size: 1em; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-film {
            display: flex;
            margin-left: 30px; }
            #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body .card-film p {
              margin-right: 30px; } }
    @media screen and (max-width: 992px) {
      #mh_carousel .carousel-inner .carousel-item .carousel-caption {
        font-size: 0.75em; }
        #mh_carousel .carousel-inner .carousel-item .carousel-caption h1 {
          color: #F1EEEB; }
        #mh_carousel .carousel-inner .carousel-item .carousel-caption .card {
          border: 0;
          background: none; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-header {
            padding: 0rem; }
            #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-header h2 {
              font-size: 1.3em; }
          #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body {
            padding: 0rem; }
            #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body p, #mh_carousel .carousel-inner .carousel-item .carousel-caption .card .card-body a {
              display: none; } }
    @media screen and (max-width: 576px) {
      #mh_carousel .carousel-inner .carousel-item h1, #mh_carousel .carousel-inner .carousel-item h2, #mh_carousel .carousel-inner .carousel-item h3 {
        font-size: 0.9em; } }
  #mh_carousel .carousel-indicators li {
    background-color: #aaa; }

/*Section Présentation*/
#presentation .container-fluid {
  padding-left: 0px;
  padding-right: 0px; }
  #presentation .container-fluid .card {
    background: #F1EEEB;
    border: none;
    /*Les dernières actus*/ }
    #presentation .container-fluid .card .card-header {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      border: 0; }
    #presentation .container-fluid .card .presentation .row {
      transition: transform 400ms; }
      #presentation .container-fluid .card .presentation .row:hover .p_rouge_vertical .p_rouge_v {
        transform: scaleX(6); }
      #presentation .container-fluid .card .presentation .row .p_rouge_vertical .p_rouge_v {
        width: 10px;
        transform-origin: left;
        transition: transform 400ms;
        height: 100%;
        background: #BF2F26; }
      #presentation .container-fluid .card .presentation .row .p_presentation {
        background: #ffffff;
        padding: 2%; }
        #presentation .container-fluid .card .presentation .row .p_presentation .p1_presentation {
          text-align: justify;
          font-style: normal; }
        #presentation .container-fluid .card .presentation .row .p_presentation .p2_presentation {
          margin-top: 2%; }
          #presentation .container-fluid .card .presentation .row .p_presentation .p2_presentation blockquote {
            font-size: 0.9em;
            opacity: 0.7;
            font-style: italic; }
          #presentation .container-fluid .card .presentation .row .p_presentation .p2_presentation .blockquote-footer {
            background: none; }
      #presentation .container-fluid .card .presentation .row .espace {
        background: #ffffff; }
      #presentation .container-fluid .card .presentation .row .img_presentation {
        background: #ffffff;
        padding: 2%; }
        #presentation .container-fluid .card .presentation .row .img_presentation .carousel .carousel-inner .carousel-item img {
          width: 100%; }
        #presentation .container-fluid .card .presentation .row .img_presentation .carousel .carousel-inner .carousel-item .carousel-caption {
          text-align: left; }
          #presentation .container-fluid .card .presentation .row .img_presentation .carousel .carousel-inner .carousel-item .carousel-caption h3 {
            border-shadow: 1px 1px 1px #0B0A0A; }
        #presentation .container-fluid .card .presentation .row .img_presentation .carousel a:hover {
          background: none;
          border: 0; }
    #presentation .container-fluid .card .card-header {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      width: 100%;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      border: 0; }
      #presentation .container-fluid .card .card-header .h3-rouge-horizontal h3 {
        color: #0B0A0A;
        padding-left: 30px;
        font-size: 1.5em; }
      #presentation .container-fluid .card .card-header .h3-rouge-horizontal .h3-rouge-h {
        position: relative;
        width: 100px;
        height: 10px;
        background: #BF2F26;
        left: 0px; }
    #presentation .container-fluid .card .actus {
      overflow: hidden;
      padding-bottom: 0; }
      #presentation .container-fluid .card .actus .row {
        transition: transform 400ms; }
        #presentation .container-fluid .card .actus .row:hover .actus-rouge-vertical .actus-rouge-v {
          transform: scaleX(6); }
        #presentation .container-fluid .card .actus .row .actus-rouge-vertical .actus-rouge-v {
          width: 10px;
          transform-origin: left;
          transition: transform 400ms;
          height: 100%;
          background: #BF2F26; }
        #presentation .container-fluid .card .actus .row .list_actus {
          justify-content: center; }
          #presentation .container-fluid .card .actus .row .list_actus .list-group {
            width: 100%; }
            #presentation .container-fluid .card .actus .row .list_actus .list-group .list-group-item {
              margin: 2%;
              height: 300px; }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .list-group-item h3 {
                color: black;
                text-align: center; }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .list-group-item p:last-child {
                text-align: center; }
            #presentation .container-fluid .card .actus .row .list_actus .list-group .actu1 {
              width: 30%;
              transform: perspective(150px) translateZ(-30px);
              transition: transform 400ms; }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .actu1:hover {
                transform: perspective(150px) translateZ(20px); }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .actu1 p {
                text-align: center; }
            #presentation .container-fluid .card .actus .row .list_actus .list-group .actu2 {
              width: 30%;
              transform: perspective(150px) translateZ(-30px);
              transition: transform 400ms; }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .actu2:hover {
                transform: perspective(150px) translateZ(20px); }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .actu2 .film-mini {
                width: 100%;
                padding-right: 0;
                padding-left: 0; }
            #presentation .container-fluid .card .actus .row .list_actus .list-group .actu3 {
              width: 30%;
              transform: perspective(150px) translateZ(-30px);
              transition: transform 400ms; }
              #presentation .container-fluid .card .actus .row .list_actus .list-group .actu3:hover {
                transform: perspective(150px) translateZ(20px); }
    #presentation .container-fluid .card .lien_blog {
      text-align: right;
      width: 100%;
      padding: 0px 10px 10px 0px; }
      #presentation .container-fluid .card .lien_blog a {
        padding: 10px; }

@media screen and (max-width: 576px) {
  .carousel-caption h3 {
    font-size: 0.9em; } }
@media screen and (max-width: 1200px) {
  .list_3_actus {
    flex-direction: column; }
    .list_3_actus .list-group-item {
      width: 100% !important;
      height: auto !important; }
      .list_3_actus .list-group-item .p_actus2 {
        flex-direction: row; }
        .list_3_actus .list-group-item .p_actus2 .col-sm-4 {
          padding: 0; }
          .list_3_actus .list-group-item .p_actus2 .col-sm-4 .film-mini {
            width: 80% !important;
            margin-left: 10%;
            margin-bottom: 5%; } }
/*Section Films*/
#films .container-fluid {
  margin-top: 30px;
  margin-bottom: 40px; }
  #films .container-fluid .row {
    /*Boutons de tri des films*/ }
    #films .container-fluid .row .films_titre {
      display: flex; }
      #films .container-fluid .row .films_titre .h1-rouge-vertical {
        width: 10px;
        height: 50px;
        background: #BF2F26;
        margin-left: 5px; }
      #films .container-fluid .row .films_titre .h1-rouge-horizontal h1 {
        padding-left: 20px; }
      #films .container-fluid .row .films_titre .h1-rouge-horizontal .h1-rouge-h {
        position: relative;
        width: 100px;
        height: 10px;
        background: #BF2F26;
        left: -10px; }
    #films .container-fluid .row .films_formulaire {
      text-align: right; }
      #films .container-fluid .row .films_formulaire form .form-group .lien_page_films, #films .container-fluid .row .films_formulaire form .form-group .btn {
        font-size: 1.2em;
        width: 250px;
        vertical-align: top; }
        #films .container-fluid .row .films_formulaire form .form-group .lien_page_films a, #films .container-fluid .row .films_formulaire form .form-group .btn a {
          padding: 14px 30px 14px 30px;
          background: #BF2F26;
          color: #F1EEEB; }
          #films .container-fluid .row .films_formulaire form .form-group .lien_page_films a:hover, #films .container-fluid .row .films_formulaire form .form-group .btn a:hover {
            background: #0B0A0A;
            color: #fff000; }
      #films .container-fluid .row .films_formulaire form .form-group .date {
        padding: 14px;
        border: 1px solid #BF2F26;
        background: #F1EEEB; }
        #films .container-fluid .row .films_formulaire form .form-group .date:hover {
          background: #0B0A0A;
          color: #fff000; }
      #films .container-fluid .row .films_formulaire form .form-group .dropdown {
        display: inline-block; }
  #films .container-fluid .row .slider_films .list_films .affiche_film {
    color: #BF2F26; }
    #films .container-fluid .row .slider_films .list_films .affiche_film:hover .film_content .film_title_content {
      transform: translateY(0); }
    #films .container-fluid .row .slider_films .list_films .affiche_film:hover .film_content .icone_play {
      transform: translateY(0); }
    #films .container-fluid .row .slider_films .list_films .affiche_film:hover .film_content .content_film_opacity {
      opacity: 0.6; }
    #films .container-fluid .row .slider_films .list_films .affiche_film .film_content {
      /*div uniquement visible en media queries*/
      /*div uniquement visible en media queries*/ }
      #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .film_title_content {
        position: absolute;
        background: #F1EEEB;
        border: 1px solid #BF2F26;
        padding: 10px 10px 0px 10px;
        top: 20px;
        left: 20px;
        transform: translateY(-300px);
        transition: transform 300ms;
        overflow: hidden;
        z-index: 2; }
      #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .film_title_content_smart {
        position: absolute;
        background: #F1EEEB;
        border: 1px solid #BF2F26;
        padding: 10px 10px 0px 10px;
        top: 20px;
        left: 20px;
        overflow: hidden;
        z-index: 2;
        opacity: 0.85;
        font-size: 0.9em; }
      #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .icone_play {
        position: absolute;
        right: 20px;
        bottom: 20px;
        z-index: 2;
        transform: translateY(300px);
        transition: transform 300ms;
        overflow: hidden; }
        #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .icone_play a {
          background: none;
          border: 0; }
      #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .icone_play_smart {
        position: absolute;
        right: 20px;
        bottom: 10px;
        z-index: 2; }
        #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .icone_play_smart a {
          background: none;
          border: 0; }
      #films .container-fluid .row .slider_films .list_films .affiche_film .film_content .content_film_opacity {
        position: absolute;
        background: #0B0A0A;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 200ms 50ms; }

@media screen and (min-width: 992px) {
  .film_title_content_smart {
    display: none; }

  .icone_play_smart {
    display: none; } }
@media screen and (max-width: 1240px) {
  #films_auteurs {
    display: none; }

  .titre_films_large {
    display: none; }

  #films .container-fluid .row .films_formulaire form .form-group .lien_page_films, #films .container-fluid .row .films_formulaire form .form-group .btn {
    vertical-align: middle; } }
@media screen and (min-width: 1240px) {
  .titre_films_smart {
    display: none; } }
@media screen and (max-width: 992px) {
  .date, #films_auteurs {
    display: none; }

  .titre_films_large {
    display: none; }

  .films_formulaire .form-group .lien_page_films {
    margin-right: 0 !important;
    width: 200px !important;
    font-size: 1em !important;
    text-align: right;
    padding-right: 0; }
    .films_formulaire .form-group .lien_page_films a {
      padding: 5px !important; }

  .film_title_content {
    display: none; }

  .icone_play {
    display: none; }

  .content_film_opacity {
    opacity: 0.5 !important; } }
/*PAGE D'ACTUALITES*/
/*Section Blog*/
#page_actualites .container-fluid {
  background: #F1EEEB;
  padding-bottom: 30px; }
  #page_actualites .container-fluid .row {
    padding-top: 30px; }
    #page_actualites .container-fluid .row .col-lg-12 {
      display: flex; }

.article {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #F1EEEB; }
  .article .container-fluid .row:hover .col-lg-1 .article_rouge_vertical {
    transform: scaleX(6); }
  .article .container-fluid .row .col-lg-1 .article_rouge_vertical {
    width: 10px;
    height: 100%;
    background: #BF2F26;
    transform-origin: left;
    transition: transform 400ms; }
  .article .container-fluid .row .card-group {
    border: 0; }
    .article .container-fluid .row .card-group .card-header {
      font-family: "alatsiregular";
      color: #0B0A0A;
      background: none;
      border: 0; }
      .article .container-fluid .row .card-group .card-header .article_rouge_horizontal {
        height: 10px;
        width: 100px;
        background: #BF2F26; }
    .article .container-fluid .row .card-group .card-body .article_p {
      padding: 20px; }
      .article .container-fluid .row .card-group .card-body .article_p p {
        text-align: justify; }
    .article .container-fluid .row .card-group .card-body .article_img {
      padding: 20px; }
      .article .container-fluid .row .card-group .card-body .article_img .article_image img {
        width: 100%; }

#article2 img {
  width: 50%; }

@media screen and (min-width: 992px) {
  .titre_actu_smart {
    display: none; } }
@media screen and (max-width: 992px) {
  .titre_actu_large {
    display: none; } }
/*PAGE LISTE DES FILMS*/
/*Section Liste de Films*/
#liste_films .container-fluid {
  background: #F1EEEB;
  padding-bottom: 30px; }
  #liste_films .container-fluid .row {
    padding-top: 30px; }
    #liste_films .container-fluid .row .col-md-5 {
      display: flex; }
    #liste_films .container-fluid .row .col-md-7 .film_tri {
      display: flex;
      justify-content: flex-end; }
      #liste_films .container-fluid .row .col-md-7 .film_tri .date_film {
        padding: 10px;
        border: 1px solid #BF2F26;
        background: #F1EEEB; }
        #liste_films .container-fluid .row .col-md-7 .film_tri .date_film:hover {
          background: #0B0A0A;
          color: #fff000; }
  #liste_films .container-fluid .soiree:hover .col-lg-1 .films_rouge_vertical {
    transform: scaleX(6); }
  #liste_films .container-fluid .soiree .col-lg-1 .films_rouge_vertical {
    width: 10px;
    transform-origin: left;
    transition: transform 400ms;
    height: 100%;
    background: #BF2F26; }
  #liste_films .container-fluid .soiree .col-lg-3 {
    background: #ffffff; }
    #liste_films .container-fluid .soiree .col-lg-3 h2 {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px; }
    #liste_films .container-fluid .soiree .col-lg-3 .film_container {
      position: relative;
      overflow: hidden;
      /*Uniquement visible dans les medias queries*/ }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container:hover .content_film_opacity {
        opacity: 0.6; }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container:hover .details {
        transform: translateY(0); }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container .details {
        position: absolute;
        width: 60%;
        background: #F1EEEB;
        border: 1px solid #BF2F26;
        padding: 0px 10px 0px 10px;
        top: 30%;
        left: 20%;
        overflow: hidden;
        z-index: 2;
        text-align: center;
        transform: translateY(-300px);
        transition: transform 400ms; }
        #liste_films .container-fluid .soiree .col-lg-3 .film_container .details a {
          color: #BF2F26;
          font-size: 1.3em; }
          #liste_films .container-fluid .soiree .col-lg-3 .film_container .details a:hover {
            background: none; }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container .details_smart {
        position: absolute;
        width: 60%;
        background: #F1EEEB;
        border: 1px solid #BF2F26;
        padding: 0px 10px 0px 10px;
        top: 30%;
        left: 20%;
        overflow: hidden;
        z-index: 2;
        text-align: center; }
        #liste_films .container-fluid .soiree .col-lg-3 .film_container .details_smart a {
          color: #BF2F26;
          font-size: 1.3em; }
          #liste_films .container-fluid .soiree .col-lg-3 .film_container .details_smart a:hover {
            background: none; }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container img {
        width: 80%;
        margin-left: 10%; }
      #liste_films .container-fluid .soiree .col-lg-3 .film_container .content_film_opacity {
        position: absolute;
        margin-left: 10%;
        background: #0B0A0A;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 200ms; }
    #liste_films .container-fluid .soiree .col-lg-3 .inscription_seance {
      text-align: center;
      font-size: 1.3em; }
      #liste_films .container-fluid .soiree .col-lg-3 .inscription_seance a {
        padding-left: 40px;
        padding-right: 40px;
        background: #BF2F26;
        color: #F1EEEB; }
        #liste_films .container-fluid .soiree .col-lg-3 .inscription_seance a:hover {
          background: #0B0A0A;
          color: #fff000; }
    #liste_films .container-fluid .soiree .col-lg-3 p {
      text-align: center; }
      #liste_films .container-fluid .soiree .col-lg-3 p .badge {
        color: #fff000;
        background: #0B0A0A; }
  #liste_films .container-fluid .soiree .django .django_container:hover .film_complet {
    transform: translateY(0); }
  #liste_films .container-fluid .soiree .django .film_complet {
    position: absolute;
    top: 45%;
    left: 20%;
    z-index: 2;
    width: 60%;
    transform: translateY(300px);
    transition: transform 400ms 100ms; }
  #liste_films .container-fluid .soiree .django .inscription_seance a {
    background: grey; }
    #liste_films .container-fluid .soiree .django .inscription_seance a:hover {
      background: grey;
      color: #F1EEEB; }

@media screen and (min-width: 992px) {
  .titre_listfilm_smart {
    display: none; }

  .details_smart {
    display: none; } }
@media screen and (max-width: 992px) {
  .titre_listfilm_large {
    display: none; }

  .details {
    display: none; }

  .content_film_opacity {
    opacity: 0.2 !important; } }
@media screen and (max-width: 576px) {
  .film_tri {
    margin-top: 10px;
    justify-content: flex-start !important; } }
/*PAGE INSCRIPTION*/
/*Section Inscription*/
#inscription .container-fluid {
  background: #F1EEEB;
  padding-bottom: 30px; }
  #inscription .container-fluid .row {
    padding-top: 30px; }
    #inscription .container-fluid .row .col-lg-12 {
      display: flex; }
  #inscription .container-fluid .row:hover .col-lg-1 .inscription_rouge_vertical {
    transform: scaleX(6); }
  #inscription .container-fluid .row .col-lg-1 .inscription_rouge_vertical {
    width: 10px;
    transform-origin: left;
    transition: transform 400ms;
    height: 100%;
    background: #BF2F26; }
  #inscription .container-fluid .row .col-lg-10 .row .prenom_nom_inscription {
    padding: 15px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  #inscription .container-fluid .row .col-lg-10 .row {
    padding-top: 0; }
  #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .choix_seance label {
    display: block; }
  #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .choix_seance .btn {
    background: #F1EEEB;
    border-radius: 0;
    width: 50%;
    margin-bottom: 16px;
    border: 1px solid #BF2F26;
    text-align: left; }
    #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .choix_seance .btn:hover, #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .choix_seance .btn:focus {
      box-shadow: 0px 0px 4px #BF2F26;
      background: #ffffff; }
  #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .nbr_places {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    padding-top: 33px; }
    #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .nbr_places label {
      display: block; }
    #inscription .container-fluid .row .col-lg-10 .row .inscription_dropdown .form-group .nbr_places input {
      width: 30%;
      padding: 6px 12px 6px 12px; }
  #inscription .container-fluid .row .col-lg-10 .row .col-lg-4 .inscription_affiche {
    width: 50%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: visible; }

form, .resultat {
  background: #ffffff; }
  form .form-group input, .resultat .form-group input {
    background: #F1EEEB;
    border-radius: 0;
    width: 100%;
    border: 1px solid #BF2F26; }
    form .form-group input:focus, .resultat .form-group input:focus {
      border: 1px solid #BF2F26;
      box-shadow: 0px 0px 4px #BF2F26; }

.inscription_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .inscription_p .inscription_span {
    display: block; }
  .inscription_p .inscription_titre2 {
    font-size: 1.5em;
    font-family: "alatsiregular";
    margin-bottom: 0; }

.resultat div {
  text-align: right; }
  .resultat div .inscription_date_heure {
    display: inline;
    font-size: 1.5em;
    font-family: "alatsiregular";
    padding: 10px 0px 10px 0px;
    color: #BF2F26; }
  .resultat div .badge {
    color: #fff000;
    background: #0B0A0A; }
.resultat .inscription_button {
  height: 100%;
  position: relative; }
  .resultat .inscription_button button {
    background: #BF2F26;
    color: #F1EEEB;
    font-size: 1.5em;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    border: 0; }
    .resultat .inscription_button button:hover {
      border: 0;
      background: #0B0A0A;
      color: #fff000; }
  .resultat .inscription_button #confirmation_inscription .modal-content {
    width: 100%; }
    .resultat .inscription_button #confirmation_inscription .modal-content .modal-body {
      display: flex; }
      .resultat .inscription_button #confirmation_inscription .modal-content .modal-body .modal_affiche_inscription .inscription_affiche_confirm {
        width: 100%; }
      .resultat .inscription_button #confirmation_inscription .modal-content .modal-body .modal_details_inscription div {
        text-align: left; }
    .resultat .inscription_button #confirmation_inscription .modal-content .modal-footer {
      height: 45px;
      justify-content: flex-end; }
      .resultat .inscription_button #confirmation_inscription .modal-content .modal-footer .modal_close {
        top: inherit;
        left: inherit;
        width: 6%;
        background: #BF2F26;
        font-size: 0.8em;
        padding: 5px;
        margin-bottom: 2px; }
        .resultat .inscription_button #confirmation_inscription .modal-content .modal-footer .modal_close:hover {
          background: #0B0A0A; }

@media screen and (min-width: 992px) {
  .titre_inscription_smart {
    display: none; } }
@media screen and (max-width: 992px) {
  .titre_inscription_large {
    display: none; } }
@media screen and (max-width: 1200px) {
  .choix_seance .btn {
    width: 70% !important; } }
@media screen and (max-width: 576px) {
  .choix_seance .btn {
    width: 100% !important; }

  .nbr_places {
    flex-direction: column;
    padding-top: 10px !important; }
    .nbr_places input {
      width: 100% !important; }

  .inscription_dropdown .form-group {
    margin-bottom: 0 !important; }

  .inscription_button button {
    margin-top: 10px;
    margin-bottom: 10px;
    position: static !important; }

  .inscription_p {
    margin-bottom: 0 !important; }

  body .modal_close {
    position: absolute !important; } }
/*PAGE CONTACT*/
/*Section Contact*/
#contact .container-fluid {
  background: #F1EEEB;
  padding-bottom: 30px; }
  #contact .container-fluid .row {
    padding-top: 30px; }
    #contact .container-fluid .row .col-lg-6 {
      display: flex; }
    #contact .container-fluid .row .coordonnees {
      justify-content: flex-end; }
      #contact .container-fluid .row .coordonnees #button_coordonnees {
        border: 0; }
        #contact .container-fluid .row .coordonnees #button_coordonnees:hover {
          background: none;
          color: #BF2F26;
          border-bottom: 2px solid #0B0A0A; }
  #contact .container-fluid .row:hover .col-lg-1 .contact_rouge_vertical {
    transform: scaleX(6); }
  #contact .container-fluid .row .col-lg-1 .contact_rouge_vertical {
    width: 10px;
    transform-origin: left;
    transition: transform 400ms;
    height: 100%;
    background: #BF2F26; }
  #contact .container-fluid .row .col-lg-10 .row .prenom_nom_contact {
    padding: 15px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    #contact .container-fluid .row .col-lg-10 .row .prenom_nom_contact .nom_contact {
      flex-direction: column; }
    #contact .container-fluid .row .col-lg-10 .row .prenom_nom_contact .prenom_contact {
      flex-direction: column; }
  #contact .container-fluid .row .col-lg-10 .row {
    padding-top: 0; }
    #contact .container-fluid .row .col-lg-10 .row .objet_contact .col-lg-6 {
      padding-left: 0; }
  #contact .container-fluid .row .col-lg-10 .row .message_contact .message_contact_area {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0; }
    #contact .container-fluid .row .col-lg-10 .row .message_contact .message_contact_area textarea {
      border: 1px solid #BF2F26;
      border-radius: 0; }
      #contact .container-fluid .row .col-lg-10 .row .message_contact .message_contact_area textarea:hover, #contact .container-fluid .row .col-lg-10 .row .message_contact .message_contact_area textarea:active, #contact .container-fluid .row .col-lg-10 .row .message_contact .message_contact_area textarea:focus {
        box-shadow: 0px 0px 4px #BF2F26; }
  #contact .container-fluid .row .col-lg-10 .row .contact_button {
    background: #ffffff; }
    #contact .container-fluid .row .col-lg-10 .row .contact_button #button_contact {
      width: 100%;
      background: #BF2F26;
      color: #F1EEEB; }
      #contact .container-fluid .row .col-lg-10 .row .contact_button #button_contact:hover {
        background: #0B0A0A;
        color: #fff000; }

@media screen and (min-width: 768px) {
  .titre_contact_smart {
    display: none; } }
@media screen and (max-width: 768px) {
  .coordonnees {
    margin-top: 10px;
    padding-left: 10px;
    justify-content: flex-start !important; }

  .titre_contact_large {
    display: none; } }
/*PAGE FILM DETAILLE*/
.film_detaille .container-fluid {
  background: #F1EEEB;
  padding-bottom: 30px; }
  .film_detaille .container-fluid .row {
    padding-top: 30px; }
    .film_detaille .container-fluid .row .col-lg-12 {
      display: flex; }
  .film_detaille .container-fluid .row {
    /*container principale*/ }
    .film_detaille .container-fluid .row:hover .col-lg-1 .films_rouge_vertical {
      transform: scaleX(6); }
    .film_detaille .container-fluid .row .col-lg-1 .films_rouge_vertical {
      width: 10px;
      transform-origin: left;
      transition: transform 400ms;
      height: 100%;
      background: #BF2F26; }
    .film_detaille .container-fluid .row .col-lg-10 {
      background: #ffffff;
      /*affiche dtails video*/ }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-3 .affiche_container img {
        width: 100%; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-3 .list-group {
        border: 0; }
        .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-3 .list-group .list-group-item {
          border: 0; }
          .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-3 .list-group .list-group-item span {
            font-weight: bold;
            opacity: 0.7; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .bande_annonce iframe {
        width: 100%; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .synopsis p {
        text-align: justify; }
        .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .synopsis p .public {
          font-weight: bold; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .infos_seance h2 {
        text-align: right; }
        .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .infos_seance h2 span {
          border: 1px solid #BF2F26;
          background: #F1EEEB;
          padding: 10px; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .infos_seance p {
        text-align: right; }
        .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .infos_seance p .badge {
          color: #fff000;
          background: #0B0A0A; }
      .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .inscription_seance {
        font-size: 1.3em;
        width: 100%;
        text-align: right; }
        .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .inscription_seance a {
          background: #BF2F26;
          color: #F1EEEB; }
          .film_detaille .container-fluid .row .col-lg-10 .row .col-lg-6 .inscription_seance a:hover {
            background: #0B0A0A;
            color: #fff000; }
      .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div {
        display: flex;
        width: 100%;
        justify-content: space-between; }
        .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div .fleche a {
          font-size: 0.8em;
          margin-top: 2px;
          width: 100%; }
          .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div .fleche a:hover {
            background: none;
            color: #BF2F26; }
          .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div .fleche a span {
            padding: 10px; }
            .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div .fleche a span:hover {
              background: #0B0A0A;
              color: #fff000; }
        .film_detaille .container-fluid .row .col-lg-10 .row .fleche_suiv_prec div .suivant a {
          text-align: right; }
      .film_detaille .container-fluid .row .col-lg-10 .row .retour .retour_list_film {
        text-align: right;
        margin-bottom: 10px; }
        .film_detaille .container-fluid .row .col-lg-10 .row .retour .retour_list_film a {
          padding: 10px; }

/*Django Unchained*/
#django .inscription_seance a {
  background: grey; }
  #django .inscription_seance a:hover {
    background: grey;
    color: #F1EEEB; }

@media screen and (min-width: 550px) and (max-width: 991px) {
  .affiche_container img {
    width: 60% !important; } }
@media screen and (max-width: 600px) {
  .h1-rouge-vertical {
    display: none; }

  .fleche img {
    display: none; } }
@media screen and (max-width: 350px) {
  .inscription_seance {
    font-size: 1em !important; }

  .infos_seance h2 span {
    font-size: 0.7em !important; } }
/*Style Footer*/
footer {
  background: #0B0A0A; }
  footer .container-fluid .row {
    padding: 30px 30px 0px 30px; }
    footer .container-fluid .row .coordonnees {
      border-left: 1px solid #F1EEEB;
      border-right: 1px solid #F1EEEB; }
      footer .container-fluid .row .coordonnees h1 {
        font-family: "open_sansregular";
        color: #F1EEEB;
        font-size: 1em; }
      footer .container-fluid .row .coordonnees p {
        font-family: "open_sansregular";
        color: #F1EEEB;
        font-size: 0.8em; }
    footer .container-fluid .row .partenaires {
      border-right: 1px solid #F1EEEB;
      display: flex;
      flex-direction: column; }
      footer .container-fluid .row .partenaires h3 {
        font-family: "open_sansregular";
        color: #F1EEEB;
        font-size: 1em; }
      footer .container-fluid .row .partenaires .images_partenaires {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%; }
        footer .container-fluid .row .partenaires .images_partenaires .img_partenaires {
          width: 50%; }
    footer .container-fluid .row .suivez-nous {
      border-right: 1px solid #F1EEEB;
      display: flex;
      flex-direction: column; }
      footer .container-fluid .row .suivez-nous h3 {
        font-family: "open_sansregular";
        color: #F1EEEB;
        font-size: 1em; }
      footer .container-fluid .row .suivez-nous .logos_suivez-nous {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%; }
        footer .container-fluid .row .suivez-nous .logos_suivez-nous .logo_suivez-nous {
          width: 50%; }
    footer .container-fluid .row .menu_footer {
      border-right: 1px solid #F1EEEB; }
      footer .container-fluid .row .menu_footer h3 {
        font-family: "open_sansregular";
        color: #F1EEEB;
        font-size: 1em; }
      footer .container-fluid .row .menu_footer ul {
        padding-left: 0; }
        footer .container-fluid .row .menu_footer ul li {
          list-style-type: none;
          margin-left: 0;
          padding-bottom: 2%; }
  footer .container-fluid .row .mentions_legales {
    border-top: 1px solid #F1EEEB;
    list-style-type: none;
    text-align: center;
    padding-top: 10px; }
    footer .container-fluid .row .mentions_legales li {
      display: inline; }

footer a {
  padding-left: 0%;
  color: #F1EEEB;
  font-family: "open_sansregular";
  font-size: 0.8em; }
  footer a:hover {
    text-decoration: underline;
    background: none;
    color: #F1EEEB;
    font-family: "open_sansregular";
    font-size: 0.8em; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .coordonnees {
    border-left: 0 !important; }

  .menu_footer {
    border-right: 0 !important; } }
@media screen and (min-width: 576px) and (max-width: 767px) {
  .coordonnees {
    border-left: 0 !important; }

  .menu_footer {
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #F1EEEB;
    border-right: 0 !important; }
    .menu_footer ul li {
      display: inline; }

  .row_mentions_legales {
    padding-top: 10px !important; }

  .suivez-nous {
    border-right: 0 !important; } }
@media screen and (max-width: 576px) {
  .coordonnees {
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #F1EEEB; }
    .coordonnees p {
      display: inline-block;
      vertical-align: top;
      margin-right: 2em; }

  .partenaires {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-right: 0 !important;
    border-bottom: 1px solid #F1EEEB; }
    .partenaires .images_partenaires {
      display: flex !important;
      flex-direction: row !important; }

  .suivez-nous {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-right: 0 !important;
    border-bottom: 1px solid #F1EEEB; }
    .suivez-nous .logos_suivez-nous {
      display: flex !important;
      flex-direction: row !important; }

  .menu_footer {
    margin-top: 10px !important;
    border-right: 0 !important;
    padding-top: 10px;
    margin-top: 10px;
    border-right: 0 !important; }
    .menu_footer ul li {
      display: inline; } }
